<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="form-heading">
                Enter your new password
              </h1>
              <%= form_with url: update_password_path(params[:id]), method: :put ,class: "space-y-4 md:space-y-6" do |f| %>
                  <div> 
                      <%= f.password_field :password, class: "text-field", placeholder: "your password", id: "new-password"%>
                  </div>
                  <div>
                      <%= f.password_field :password_confirmation, class: "text-field", placeholder: "your password", id: "password-confirmation"%>
                  </div>
                  <%= f.submit "Send", class: "submit", id: "user-password-submit" %>
              <% end %>
          </div>
      </div>
  </div>
</section>