<h1>
  Hello <%= @user.email %>
</h1>

<hr>

<p>
  You've requested a password recovery. 
  Let's make you a new password, please click the link below.

  <%= link_to "New password", new_password_url(@user)%>
</p> 
